* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(90deg, #395492, #0099c9, #3dd5a8);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#game {
   height: 720px;
   width: 1280px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#game__start {
   min-height: 300px;
   width: 30%;
   background-color: #2ab474;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#game__start h2 {
   color: aliceblue;
   font-size: 30px;
   text-transform: uppercase;

}

#game__start button {
   background-color: rgba(218, 16, 236, 0.541);
   padding: 10px 45px;
   font-size: 25px;
   text-transform: uppercase;
   border-radius: 10px;
}

#game__footer {
   background-color: azure;
   height: 80px;
   width: 100%;
   display: none;
}

#game__field {
   height: 640px;
   display: none;
   justify-content: space-around;
   align-items: center;
}

#game__magazin {
   margin: 10px;
   background-color: red;
   height: 300px;
   width: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#game__board {
   display: grid;
   grid-template-columns: repeat(10, auto);
   grid-template-rows: repeat(5, auto);
   padding: 0.6vh;
   gap: 0.3vh;
   background-color: rgba(1, 8, 89, 0.5);
   margin: 10px;
}

.block {
   height: 120px;
   width: 108px;
   background-image: url(../images/fon.png);
   background-size: 100% 100%;
   pointer-events: auto;
}

#game__magazin span {
   cursor: pointer;
}

#game__magazin span img {
   height: 90px;
   width: 90px;
   padding: 10px;
}

#game__magazin span.selected {
   border: 2px solid gold;
}

.tower.skin1 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag4.gif);
   background-size: 100% 100%;
}

.tower.skin2 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag2.gif);
   background-size: 100% 100%;
}

.tower.skin3 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag3.gif);
   background-size: 100% 100%;
}

.enemy {
      height: 120px;
      width: 108px;
      background-size: 100% 100%;
      position: absolute;
      
}

.skin1 {
   background-image: url(../gif/enemy1.gif);
}

.skin2 {
   background-image: url(../gif/enemy2.gif);
}

.skin3 {
   background-image: url(../gif/enemy3.gif);
}