* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(90deg, #395492, #0099c9, #3dd5a8);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#game {
   height: 720px;
   width: 1280px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#game__start {
   min-height: 300px;
   width: 30%;
   background-color: #2ab474;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#game__start h2 {
   color: aliceblue;
   font-size: 30px;
   text-transform: uppercase;

}

#game__start button {
   background-color: rgba(218, 16, 236, 0.541);
   padding: 10px 45px;
   font-size: 25px;
   text-transform: uppercase;
   border-radius: 10px;
}

#game__footer {
   background-color: rgb(8, 66, 66);
   height: 80px;
   width: 100%;
   display: none;
   justify-content: space-between;
   align-items: center;
}

#game__field {
   height: 640px;
   display: none;
   justify-content: space-around;
   align-items: center;
}

#game__magazin {
   margin: 10px;
   background-color: red;
   height: 450px;
   width: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#game__board {
   display: grid;
   grid-template-columns: repeat(10, auto);
   grid-template-rows: repeat(5, auto);
   padding: 0.6vh;
   gap: 0.3vh;
   background-color: rgba(1, 8, 89, 0.5);
   margin: 10px;
}

.block {
   height: 120px;
   width: 108px;
   background-image: url(../images/fon.png);
   background-size: 100% 100%;
   pointer-events: auto;
}

#game__magazin span {
   cursor: pointer;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   color: gold;
   background-color: rgb(70, 66, 66);
}

#mgz1.active,
#mgz2.active,
#mgz3.active {
   background-color: rgb(30, 170, 170);
}

#game__magazin span img {
   height: 90px;
   width: 90px;
   padding: 10px;
}

#game__magazin span.selected {
   border: 2px solid gold;
}

.tower {
   transition: 100ms;
   animation: show 500ms;
}

@keyframes show {
   0% {
      opacity: 0.5;
      transform: scale(0);
   }
}

.tower.skin1 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag4.gif);
   background-size: 100% 100%;
}

.tower.skin2 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag2.gif);
   background-size: 100% 100%;
}

.tower.skin3 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag3.gif);
   background-size: 100% 100%;
}

.enemy {
   height: 120px;
   width: 108px;
   background-size: 100% 100%;
   position: absolute;
   transition: 100ms;
   animation: show 1000ms;
}

.skin1 {
   background-image: url(../gif/enemy1.gif);
}

.skin2 {
   background-image: url(../gif/enemy2.gif);
}

.skin3 {
   background-image: url(../gif/enemy3.gif);
}


.bullet {
   background-image: url(../images/bullet.png);
   height: 25px;
   width: 40px;
   background-size: 100% 100%;
   position: absolute;
   z-index: 2;
}

.bullet .skin2 {
   height: 25px;
   width: 40px;
   background-size: 100% 100%;
   position: absolute;
   z-index: 2;
   background-image: url(../images/bulletskin2.png);
}



/*FOOTER CSS*/

#btnsound {
   width: 40px;
   height: 40px;
   cursor: pointer;
}

#score {
   color: white;
   font-size: 35px;
   z-index: 5;
}

#money {
   color: white;
   font-size: 35px;
   z-index: 5;
}

#money img {
   height: 35px;
   width: 35px;
}

#money span {
   padding-left: 5px;
}

#lifes span {
   display: block;
   margin: 10px;
   float: left;
   width: 40px;
   height: 40px;
   background: url(../images/life.png);
   background-size: cover;
}

/*BOOM ПРИ ПОПАДАНИИ В ЗОМБИ*/
.enemyboom {
   background: url(../images/blood.gif);
   position: absolute;
   width: 120px;
   height: 90px;
   z-index: 9999;
   top: 40%;
   left: 50%;
   background-size: cover;
}

.towerboom {
   background: url(../images/boom.gif);
   position: absolute;
   width: 120px;
   height: 90px;
   z-index: 9999;
   top: 40%;
   left: 50%;
   background-size: cover;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.end_game {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 200px;
   width: 200px;
   background-color: #333; 
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
}

.end_game h2 {
   font-size: 24px;
   margin-bottom: 10px;
   color: #ff5733; 
}

.end_game p {
   font-size: 16px;
   margin-bottom: 20px;
   color: #bbb; 
}

.end_game button {
   padding: 10px 20px;
   font-size: 18px;
   background-color: #880000; 
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.end_game button:hover {
   background-color: #660000; 
}
