* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: linear-gradient(90deg, #395492, #0099c9, #3dd5a8);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#game {
   height: 720px;
   width: 1280px;
}

#game__footer {
   background-color: azure;
   height: 80px;
}

#game__field {
   height: 640px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#game__magazin {
   margin: 10px;
   background-color: red;
   height: 300px;
   width: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

#game-board {
   display: grid;
   grid-template-columns: repeat(10, auto);
   grid-template-rows: repeat(5, auto);
   padding: 0.6vh;
   gap: 0.3vh;
   background-color: rgba(1, 8, 89, 0.5);
   margin: 10px;
}

.area {
   height: 120px;
   width: 108px;
   background-image: url(../images/fon.png);
   background-size: 100% 100%;
}

#game__magazin span {
   cursor: pointer;
}

#game__magazin span img {
   height: 90px;
   width: 90px;
   padding: 10px;
}

#game__magazin span.selected {
   border: 2px solid gold;
}

.tover__skin1 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag4.gif);
   background-size: 100% 100%;
}

.tover__skin2 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag2.gif);
   background-size: 100% 100%;
}

.tover__skin3 {
   height: 120px;
   width: 108px;
   background-image: url(../gif/mag3.gif);
   background-size: 100% 100%;
}